<p>
	<h1>Create a new content</h1>
   <hr/>
</p> 
  

<% if@content.errors.any? %>
 <div class="row">
 <div class="alert alert-danger col-md-8 col-md-offset-2">  
   <h5>Please correct the following errors:</h5>
   <ul>
     <% @content.errors.full_messages.each do |msg|%>
       <li><%= msg %></li> 
     <% end %> 
   </ul>
 </div>   
 </div>
<% end %> 
  



<div class="row">
<div class="well col-md-8 col-md-offset-2">
  <%= form_for @content, :class => "form-horizontal" do |f| %>

    <div class="form-group">
      <label class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <%= f.text_field :name, :class => "form-control", :placeholder => "Name", :id => "Name" %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <%= f.text_area :description,cols: "20", rows: "5", :class => "form-control", :placeholder => "description", :id => "description" %>
      </div>
    </div>


    <div class="form-group">
      <label class="col-lg-2 control-label">Category</label>
      <div class="col-lg-10">
        <%= f.select :category_id, Category.all.collect {|c| [ c.name, c.id ] }, :prompt => 'Select One', :class => "form-control" %>
      </div>
    </div>


    <br/>

    <div class="form-group">
      <label class="col-lg-2 control-label"></label>
      <div class="col-lg-10">
        <%= f.file_field :file%>
      </div>
    </div>

    <br/>

    <%= f.submit 'Create Content', class: "btn btn-success" %> 


    <% end %> 
	
</div>	
</div>


































 