       
  <div class="row">

    <div class="col-md-8">
     <% if logged_in? %>
       <div class="btn-group pull-right" style="position:absolute; margin-left:830px">
          <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Edit Description",edit_content_path(@content)%> 
            </li>
            <li>    
              <%= link_to "Delete Content", content_path(@content),method: :delete,
                data: { confirm: 'Are you sure?' }%> 
            </li>
            
            <li>
              <a href="<%= @content.file.url %>" role="button" >Full Screen</a>
            </li>
          </ul>
      </div>

      <div class="pull-right" style="position:absolute; margin-left:950px"> 
        <%= link_to image_tag(@content.author.user.image.url, style: "height:150px;"),user_path(@content.author)%>
        <p> <%= link_to @content.author.name, user_path(@content.author) %> </p>  
      </div>
        
      <% end %> 

     <h3><%= @content.name %></h3>
     <div class="well" style="width:885px">
       <%= @content.description %>
     </div>  

    <div class="well" style="width:885px" >
      <embed src="<%= @content.file.url %>" width="850" height="500" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">   
    </div>

    </div>
    
  </div>
  
 <% if logged_in? %> 

<h4>Comments</h4>
<div>
   
  <%= form_for :comments, url: content_comments_path(@content, Comment.new), :class => "form-horizontal" do |f| %>

    <div class="form-group">
      <div class="col-lg-10">
        <%= f.text_area :body, cols: "20", rows: "2", :class => "form-control", :placeholder => "message", :id => "description" %>
      </div>
    </div>

    <%= f.submit "Add Comment", :class => "btn btn-primary" %>

  <% end %>
  
  </div>

  <% end %> 

 <div id="comments" style="margin-top:50px">
     <%= render :partial => @content.comments %>
  </div>

 








 
 