  <%= render 'shared/errors',obj:@user %>

 
<% if @user.errors.any? %>
 <div class="row">
 <div class="alert alert-danger col-md-offset-2"> 
   <h5>Please correct the following errors:</h5>
   <ul>
     <% @user.errors.full_messages.each do |msg|%>
       <li><%= msg %></li> 
     <% end %> 
   </ul>
 </div>   
 </div>
<% end %>  


 
<div class="row">
	<div class="well col-md-8 col-md-offset-2">

	<%= form_for @user do |f| %> 

	<form class="form-horizontal">
		<fieldset>

			<div class="form-group">
		      <label for="inputEmail" class="col-lg-2 control-label">Name</label>
		      <div class="col-lg-10">
				<%= f.text_field :name, :class => "form-control", :placeholder => "Name", :id => "Name" %>
		      </div>
		    </div>

		    <div class="form-group">
		      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
		      <div class="col-lg-10">
				<%= f.text_field :email, :class => "form-control", :placeholder => "Email", :id => "Email" %>
		      </div>
		    </div>

		    
		    <div class="form-group">
		      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
		      <div class="col-lg-10">
		      	<%= f.password_field :password, :class => "form-control", :id => "inputPassword", :placeholder => "Password" %>
		      </div>
		    </div>

		    <div class="form-group">
		    	<div class="col-lg-10 col-lg-offset-2">
		    		<br>
					<%= f.submit(@user.new_record? ? 'Register' : 'Update',class:"btn btn-success") %>  
	            </div>
	        </div>

	  	</fieldset>
	</form>
	<% end %>   
	</div>  
</div> 
