  <%= render 'shared/page_title',title: "Create A New Author" %>   

 

  <%= render 'shared/errors',obj:@user %>
 
  
 
<div class="row">
	<div class="well col-md-8 col-md-offset-2"> 
		<%= form_for @user, url: register_users_path do |f| %> 
		<%= f.label :name %>
		<%= f.text_field :name %>     

		<%= f.label :email %>
		<%= f.email_field :email %>   

		<%= f.label :password %> 
		<%= f.password_field :password %>

		<input type="hidden" name="user_type" value="author">

		<%= f.submit(@user.new_record? ? 'Register' : 'Edit Recipe',class:"btn btn-success") %>    
		<% end %>   
	</div>  
</div> 


 



