  <%= render 'shared/page_title',title: "User:"+ @user.name %>  


	<div class="col-md-4 pull-left center">  
		<div class="show_profile">
      <%= image_tag(@user.picture.url, class:"gravatar") if @user.picture? %> 
      </div>
			<h5>Name: <%= @user.name %></h5>	
    </div>

   
 <% if logged_in? %> 
    <%= link_to "Send Message", send_message_user_path(@user), class: "btn btn-success pull-right"%> 
      <% end %> 


 <div class="indexcontent"> 
 <% @user.author.contents.each do |content| %>  
<div class="row">
<div class="col-lg-6 well col-lg-offset-3"> 
  	<h4><%= link_to content.name,content_path(content) %></h4>
  	<p><%= link_to content.description %></p> 
  <p>

  	<span class="quiet"><small> created: <%= time_ago_in_words(content.created_at)%> ago, </small></span>

  	<span class="quiet"><small> created: <%= time_ago_in_words(content.created_at)%> ago, </small></span>   
  </p>
</div> 
</div> 



<% end %>
 </div>

   
   
 








