  <%= render 'shared/page_title',title: @user.name %>  


	<div class="col-md-4 pull-left center">  
		<div class="show_profile">
      <%= image_tag(@user.image.url, class:"gravatar") if @user.image? %> 
      </div>
   <%if @user.is_author?  %>

   <div class="col-sm-6" style="font-size:80%; opacity:0.7;">Followers<br>
    <h6><%=@user.followers.count %></h6>

   <%= render '/followings/follow_button', :user => @user%>   
  <% end %>


<% if current_user.is_reader? %> 
 <div class="col-sm-6" style="font-size:80%; opacity:0.7;">Following<br>
   <h6><%=@user.following.count %></h6>
 </div>
 <% end %> 


  </div>


    </div>

     
 


  
 
  

   
 <% if logged_in? %> 
    <%= link_to "Send Message", send_message_user_path(@user), class: "btn btn-success pull-right"%> 
      <% end %> 




<%if @user.is_author?  %>
   <div class="indexcontent"> 
    <% @user.author.contents.each do |content| %>  
      <div class="row"> 
        <div class="col-lg-6 well col-lg-offset-3"> 
        	<h4><%= link_to content.name,content_path(content) %></h4>
        	<p><%= link_to content.description %></p> 
          <p>
          	<span class="quiet">
              <small> 
                created: <%= time_ago_in_words(content.created_at)%> ago, 
              </small>
            </span>

          	<span class="quiet">
              <small> 
                created: <%= time_ago_in_words(content.created_at)%> ago, 
              </small>
            </span>
          </p>
        </div> 
      </div> 
    <% end %>
  </div>
<% end %>



<% if current_user.is_reader? %>
  <%= link_to current_user.reader.show_interest.name, category_path(current_user.reader.show_interest) if current_user.reader.show_interest %> 
<% end %> 
   
   
 
 







