<!DOCTYPE html>
<html>
<head>
  <title>Authorapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-default">
 <div class="container">
 	<%= link_to "Content App", "", class: "btn btn-lg btn-success", id: "logo" %>

 	<div class="nav-item">
 		<%= link_to "Author Sign In", "", class: "btn btn-default btn-warning"%>  
 	</div>


 	<div class="nav-item">
 		<%= link_to "Reader Sign In", "", class: "btn btn-default btn-warning"%>  
 	</div>


 </div> 
 
</header>



<%= yield %>

</body>
</html>
